<div class= "m-2 p-2 borde">
    <div class="row align-items-start">
        <h4 class="col-6">Hard Skills & Soft Skills</h4>
        <div class="col-6"><a href="#">
            <i class="fa fa-plus" onclick="showNewEduModal()"></i> más</a>
        </div>
    </div>
    <div>
        <ol>
            <li>
                <div>
                    <a href="#">
                    <p><span>Resolución de problemas</span></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p><span>Nikolai Emmanuel Bayro Jablonski y 2</span> contacto han validado esta aptitud.</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <p><span>Diseño de sistemas</span></p>
                        <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 15%"
                        aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </a>
                </div>
            </li>
        </ol>
    </div> 
</div>
