<div class="m-2 p-2 borde">
  <div class="row align-items-start">
    <h4 class="col">Proyectos</h4>
    <div class="btn-edit col-6"><a href="#" class="btn-right">
      <i class="fa fa-plus" onclick="showNewEduModal()"></i>más</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Miramar Alquila</h5>
          <a href="http://miramaralquila.com.ar"><img src="./assets/MiramarAlquila.jpg" height="100px"> </a>
          <p class="card-text">Pagina web para alquileres de casas, deptos, cabañas, para temporada de verano.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Proyecto nuevo</h5>
          <a href=""><img src="./assets/" height="100px"> </a>
          <p class="card-text">Detalle de lo desarrollado</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Proyecto nuevo</h5>
          <a href=""><img src="./assets/" height="100px"> </a>
          <p class="card-text">Detalle de lo desarrollado</p>
        </div>
      </div>
    </div>
  </div>
</div>