<div class="m-2 p-2 borde fondoRosa">
  <div class="row align-items-start">
    <h4 class="col">Proyectos</h4>
    <div class="btn-edit col">
      <a href="#">
          <i class="fa-solid fa-pen m-2" onclick="showNewEduModal()"></i> 
      </a>
      <a href="#">
          <i class="fa-solid fa-trash-can m-2"> </i>
      </a>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="borde">
        <div class="card-body">
          <h5 class="card-title">Miramar Alquila</h5>
          <a href="http://miramaralquila.com.ar"><img src="./assets/MiramarAlquila.jpg" height="100px"><p>Link al sitio web</p> </a>
          <p class="card-text">Pagina web para alquileres de casas, deptos, cabañas, para temporada de verano.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="borde">
        <div class="card-body">
          <h5 class="card-title">Proyecto nuevo</h5>
          <a href=""><img src="./assets/MiramarAlquila.jpg" height="100px"> </a>
          <p class="card-text">Detalle de lo desarrollado</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="borde">
        <div class="card-body">
          <h5 class="card-title">Proyecto nuevo</h5>
          <a href=""><img src="./assets/MiramarAlquila.jpg" height="100px"> </a>
          <p class="card-text">Detalle de lo desarrollado</p>
        </div>
      </div>
    </div>
  </div>
</div>