<div class="m-2 p-2 borde fondoRosa">
    <h4 class="col-6">Hard Skills & Soft Skills</h4>
    <div id="Skills">
        <!-- lista de programas que se manejar -->
      <div class="row align-items-start"> 
          <h5 class="mx-2 col-6">Programas y Lenguajes: </h5>  
          <div  *ngIf="isLogged" class="btn-edit col-6">
              <a routerLink="/newSkillsProg">
                  <i class="fa fa-plus"></i> agregar
             </a>
          </div>
      </div>
      <div> 
          <div class="row" id="programasList">
              <div class="col" *ngFor="let prog of programaslist">
                  <div>               
                     <div class="m-1 p-2 border border-2 fondoBlanco">
                        <p>{{prog.programa}}</p>
                        <p>{{prog.porcentaje}} %</p>
                           <div class="progress">
                             <div class="progress-bar bg-success" role="progressbar"
                                [ngStyle]="{'width': prog.porcentaje + '%'}" [attr.aria-valuenow]="prog.porcentaje" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>                                  
                     </div>              
                 </div>
                 <div> 
                    <div *ngIf="isLogged"  class="btn-edit">
                        <a routerLink="/editarSkillsProg/{{prog.id}}">
                          <i class="fa-solid fa-pen m-2"></i> 
                        </a>
                        <a href="#" (click)="borrarSkillProg(prog.id!)">
                           <i class="fa-solid fa-trash-can m-2"> </i>
                        </a>
                    </div>
                 </div>
             </div>
         </div>
     </div> 
       <br>
     <!-- lista de Idiomas -->
     <div class="row align-items-start"> 
         <h5 class="mx-2 col-6">Idiomas: </h5>  
         <div  *ngIf="isLogged" class="btn-edit col-6">
            <a routerLink="/newSkillsIdioma">
             <i class="fa fa-plus"></i> agregar
            </a>
         </div>
     </div>
     <div>
         <div class="row" id="idiomasList">
             <div class="col" *ngFor="let idio of idiomaslist">
                  <div>               
                     <div class="m-1 p-2 border border-2 fondoBlanco">
                          <p>{{idio.idioma}}</p>
                          <p>{{idio.porcentaje}} %</p>
                          <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                   [ngStyle]="{'width': idio.porcentaje + '%'}" [attr.aria-valuenow]="idio.porcentaje" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>                                  
                     </div>              
                  </div>
                  <div> 
                        <div *ngIf="isLogged"  class="btn-edit">
                            <a routerLink="/editarSkillsIdioma/{{idio.id}}">
                                <i class="fa-solid fa-pen m-2"></i> 
                            </a>
                            <a href="#" (click)="borrarSkillIdioma(idio.id!)">
                                <i class="fa-solid fa-trash-can m-2"> </i>
                            </a>
                        </div>
                   </div>
             </div>
         </div>
     </div> 
      <br>
        <!-- lista de Habilidades Blandas -->
       <div class="row align-items-start"> 
            <h5 class="mx-2 col-6">Habilidades blandas: </h5>  
              <div  *ngIf="isLogged" class="btn-edit col-6">
                 <a routerLink="/newSkillsHabil">
                    <i class="fa fa-plus"></i> agregar
                 </a>
              </div>
      </div>
       <div>
            <div class="row" id="habilidadesList">
                 <div class="col" *ngFor="let hab of habilidadeslist">
                    <div>               
                       <div class="m-1 p-2 border border-2 fondoBlanco">
                            <p>{{hab.habilidades}}</p>
                            <p>{{hab.porcentaje}} %</p>
                            <div class="progress">
                               <div class="progress-bar bg-success" role="progressbar"
                                 [ngStyle]="{'width': hab.porcentaje + '%'}" [attr.aria-valuenow]="hab.porcentaje" aria-valuemin="0" aria-valuemax="100">
                               </div>
                            </div>                                  
                        </div>              
                    </div>
                    <div> 
                        <div *ngIf="isLogged"  class="btn-edit">
                              <a routerLink="/editarSkillsHabil/{{hab.id}}">
                                 <i class="fa-solid fa-pen m-2"></i> 
                              </a>
                              <a href="#" (click)="borrarSkillhabil(hab.id!)">
                                 <i class="fa-solid fa-trash-can m-2"> </i>
                              </a>
                         </div>
                    </div>
                 </div>
            </div>
      </div> 
   
   </div>

</div>  

