<p class="m-2 p-2">editor de items habilidades blandas</p>    
<div class="container" > 
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="habilidades">habilidad:</label>
                    <input type="text" class="form-control" id="habilidades" name="habilidades"
                    [(ngModel)]="habilidades.habilidades" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje"> porcentaje: </label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje"
                    [(ngModel)]="habilidades.porcentaje" required>
                </div>
                <button class="btn btn-outline-success btn-block m-2" [disabled]="!f.valid">Actualizar</button>
                <button class="btn btn-outline-success btn-block m-2" routerLink="/porfolio">Cancelar</button>
            </form>
        </div>
    </div>
</div>


