<div class="m-2 p-2 borde fondoRosa">
   
    <div id="education">
        <div class="row align-items-start">
            <h4 class="col">Educación</h4>
            <div class="btn-edit col-6">
                <a href="#">
                    <i class="fa-solid fa-pen m-2" onclick="showNewEduModal()"></i> 
                </a>
                <a href="#">
                    <i class="fa-solid fa-trash-can m-2"></i>
                </a>
            </div>
        </div>
        <div>
            <ul class="items-list" id="eduList">
                <li *ngFor="let educacion of educacionList">
                    <div class="data-container">
                        <a href="#">
                            <div class ="logo">
                                <img class="logo-image"
                                [src]= "educacion.img"/>
                            </div>
                            <div class="list-info">
                                <div>
                                    <h3>{{educacion.school}}</h3>
                                    <p>{{educacion.career}}</p>
                                    <div class="nav justify-content-start">
                                        <p><time>{{educacion.start}}</time></p><p>-</p><p><time>{{educacion.end}}</time></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <div class="btn-edit">
                            <a href="#">
                                <i class="fa-solid fa-pen m-2" onclick="showNewEduModal()"></i> 
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-trash-can m-2"> </i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div> 
    </div>

    <div>
        <div class="row align-items-start">
            <h4 class="col">Experiencia</h4>
            <div class="btn-edit col-6">
                <a href="#">
                    <i class="fa-solid fa-pen m-2" onclick="showNewEduModal()"> </i> 
                 </a>
                <a href="#">
                    <i class="fa-solid fa-trash-can m-2"> </i>
                </a>
            </div>
        </div>
        <div>
          <ol>
            <li>
              <h4>Diseño web</h4>
              <div>
                <a href="http://grafikadelmar.com.ar">Gráfica del Mar </a>
                <p>Diseño y maquetado de páginas web - jornada parcial</p>
                <p>4 años - Miramar, Bs.As. Argentina</p>
              </div>
            </li>
            <li>
              <h4>Porfolio web</h4>
              <div>
                 <p>Porfolio personal desarrollado en Angular - Java - MySql
                </p> 
            </div>
            </li>
            <li>
                <h4>Task-list en angular</h4>
                <div>
                  <p>enlace para ver el repositorio en github:
                      <a href=" https://github.com/barbarabarrueta/task-list">Task-list</a> 
                  </p>
                </div>
              </li>           
          </ol>
        </div>
    </div>


</div>