
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">  
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./assets/logoARGPROG.png" alt="" height="60" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll"  aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light dropdown-item"  href="https://www.linkedin.com/in/barbara-barrueta-88909819a">
                <i class="grey-text fab fa-brands fa-linkedin fa-2x" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light"  href="https://www.github.com/barbarabarrueta">
                <i class="grey-text fab fa-github-square fa-2x"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light"  href="https://www.facebook.com/barbara.barrueta.5">
                <i class="grey-text fab fa-facebook-square fa-2x"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light"  href="https://www.instagram.com/barbara.barrueta">
                <i class="grey-text fab fa-instagram-square fa-2x"></i>
              </a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
               <a class="btn btn-outline-light my-2 my-sm-0" routerLink="/login">
                 Login</a>
            </li>
            <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
                <a class="btn btn-outline-light my-2 my-sm-0" routerLink="/porfolio">
                 Logout</a>  
            </li>
          </ul>
        </div>
      </div>
  </nav>

<div class="cards m-2 borde">
  <div class="fondo-porf">
       <div class="gradient row mx-1" *ngFor="let pers of persona">
         <div class="row">
             <img class="foto m-1 col-4" [src]="pers.img"> 
             <div class="col col-4  m-1 align-self-end">
                <p class="texto-grande">{{pers.nombre + " " + pers.apellido}}</p>
                <p class="texto-mediano">{{pers.ubicacion}}</p> 
             </div>
              <div *ngIf="isLogged"  class="col btn-edit align-self-center">
                 <a routerLink="/editarPersona/{{pers.id}}">
                     <i class="fa-solid fa-pen m-2"></i> 
                 </a>
             </div>
          </div>
    </div>
  </div> 

</div> 