.cards{
    display: flex;
    flex-flow:row nowrap;
    padding: 0px;
    margin-bottom:10px;
    height: 300px;
}
.fondo-porf{
    display: flex;
    flex-flow:row;
    background-image: url("fondo-porfolio.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    align-items: flex-end;
    border-radius: 20px;
}
p{
background-color: rgba(255, 255, 255, 0);
margin: 0px;
padding: 2px;
color:rgb(10, 10, 10);
font-family: Arial, Helvetica, sans-serif;
}
.column{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:80px;
    width: 100%;
}
.gradient{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom,rgba(112, 110, 110, 0), rgba(185, 183, 183, 0.876),rgb(247, 204, 204));
    height:150px;
    width: 120%;
    border-radius: 0px 0px 20px 20px;
}
.foto{
    width: 170px;
    border-radius: 50%;

}.texto-chico{
    font-size: 12px;
}
.texto-mediano{
    font-size: 18px;
}
.texto-grande{
    font-size: 24px;
}